body{
  margin:0;
  padding:0;
  background-color:black;
}
::selection{
  background-color:green;
  color:white;
}
h1{
  font-size:70px;
  color:magenta;
}
p{
  font-size:150%;
  color:white;
  margin-left:190px;
}
#first{
  margin-left:33%;
  background-color:grey;
  width:630px;
  color:cyan;
  font-size:30px;
  text-align: center;
}
#fig{
  position:relative;
  width:50px;
  height:50px;
  background-color:red;
  display:none;
}
.button {
  margin-left:590px;
  transition-duration: 0.4s;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
